@charset "utf-8";
@font-face{
	font-family: figtree;
	src: url("fonts/Figtree-VariableFont_wght.ttf");
	/*src: url("fonts/Figtree-Italic-VariableFont_wght.ttf");*/
}
body{
	background-color: hsl(47, 88%, 63%);
	font-family: figtree;
	font-size: 16px;
	margin: 0px;
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.box{
	background-color: hsl(0, 0%, 100%);
	display: inline-block;
	border-radius: 20px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	box-shadow: 10px 10px 1px black;
	min-width: 370px;
	max-width: 370px;
}
.boximage{
	margin: 20px;
	border-radius: 10px;
	display: block;
}
.learn{
	background-color: hsl(47, 88%, 63%);
	border-radius: 5px;
	display: inline-block;
	padding: 6px;
	margin: 0px;
	font-size: .9em;
}
.text{
	padding: 0px 30px;
	display: inline-block;
}
h2{
	font-weight: 800;
	cursor: pointer;
}
h2:hover{
	color: hsl(47, 88%, 63%);
}
.text1{
	color: hsl(0, 0%, 42%);
}
.information{
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 10px;
}
.name{
	font-weight: 800;
}
@media screen and (max-width:600px){
	body{
		font-size: 1.1em;
	}
}
@media screen and (max-width:394px){
	.box{
	background-color: hsl(0, 0%, 100%);
	display: inline-block;
	border-radius: 20px;
	border-top: 0px solid black;
	border-left: 0px solid black;
	box-shadow: 0px 0px 0px black;
	min-width: 350px;
	max-width: 350px;
	}
	body{
		font-size: 1em;
	}
	.boximage{
	border-radius: 10px;
	display: block;
	width: 320px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	}
}